In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import sys
sys.executable

'C:\\Users\\amnas\\anaconda3\\python.exe'

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("Placement_Data_Full_Class.csv")
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           213 non-null    float64
 3   ssc_b           213 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           208 non-null    object
 7   degree_p        208 non-null    float64
 8   degree_t        208 non-null    object
 9   workex          208 non-null    object
 10  etest_p         213 non-null    float64
 11  specialisation  213 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [6]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [7]:
df.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,213.000000,215.000000,208.000000,213.000000,215.000000,148.000000
mean,108.000000,67.409531,66.333163,66.269663,72.110892,62.278186,288655.405405
std,62.209324,10.815114,10.897509,7.176998,13.309323,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,61.000000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,76.000000,73.000000,72.000000,84.000000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,85.000000,98.000000,77.890000,940000.000000

In [8]:
df.describe(include='object')

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
count,215,213,215,208,208,208,213,215
unique,2,2,2,3,3,2,2,2
top,M,Central,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
freq,139,115,131,109,141,136,118,148

In [9]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              2
ssc_b              2
hsc_p              0
hsc_b              0
hsc_s              7
degree_p           7
degree_t           7
workex             7
etest_p            2
specialisation     2
mba_p              0
status             0
salary            67
dtype: int64

In [10]:
#cleaning the data
df['ssc_p']=df['ssc_p'].fillna(df['ssc_p'].mean())
df['ssc_b']=df['ssc_b'].fillna(df['ssc_b'].mode()[0])
df['hsc_s']=df['hsc_s'].fillna(df['hsc_s'].mode()[0])
df['degree_p']=df['degree_p'].fillna(df['degree_p'].mean())
df['degree_t']=df['degree_t'].fillna(df['degree_t'].mode()[0])
df['workex']=df['workex'].fillna(df['workex'].mode()[0])
df['etest_p']=df['etest_p'].fillna(df['etest_p'].mean())
df['specialisation']=df['specialisation'].fillna(df['specialisation'].mode()[0])
# Drop rows where salary is missing
df = df.dropna(subset=["salary"])

In [11]:
df=pd.get_dummies(df,drop_first=True)
df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
0,1,67.00,91.00,58.00,55.0,58.80,270000.0,True,True,True,True,False,False,True,False,True
1,2,79.33,78.33,77.48,86.5,66.28,200000.0,True,False,True,False,True,False,True,True,False
2,3,65.00,68.00,64.00,75.0,57.80,250000.0,True,False,False,False,False,False,False,False,False
4,5,85.80,73.60,73.30,96.8,55.50,425000.0,True,False,False,True,False,False,False,False,False
7,8,82.00,64.00,66.00,67.0,62.14,252000.0,True,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,62.00,72.00,65.00,67.0,56.49,216000.0,True,False,False,True,False,False,False,False,False
210,211,80.60,82.00,77.60,91.0,74.49,400000.0,True,True,True,True,False,False,False,False,False
211,212,58.00,60.00,72.00,74.0,53.62,275000.0,True,True,True,False,True,False,True,False,False
212,213,67.00,67.00,73.00,59.0,69.72,295000.0,True,True,True,True,False,False,False,True,False
213,214,74.00,66.00,58.00,70.0,60.23,204000.0,False,True,True,True,False,False,False,False,True

In [12]:
df.isnull().sum()

sl_no                    0
ssc_p                    0
hsc_p                    0
degree_p                 0
etest_p                  0
mba_p                    0
salary                   0
gender_M                 0
ssc_b_Others             0
hsc_b_Others             0
hsc_s_Commerce           0
hsc_s_Science            0
degree_t_Others          0
degree_t_Sci&Tech        0
workex_Yes               0
specialisation_Mkt&HR    0
dtype: int64

In [13]:
x=df.drop(columns=['salary'])
x

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
0,1,67.00,91.00,58.00,55.0,58.80,True,True,True,True,False,False,True,False,True
1,2,79.33,78.33,77.48,86.5,66.28,True,False,True,False,True,False,True,True,False
2,3,65.00,68.00,64.00,75.0,57.80,True,False,False,False,False,False,False,False,False
4,5,85.80,73.60,73.30,96.8,55.50,True,False,False,True,False,False,False,False,False
7,8,82.00,64.00,66.00,67.0,62.14,True,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,62.00,72.00,65.00,67.0,56.49,True,False,False,True,False,False,False,False,False
210,211,80.60,82.00,77.60,91.0,74.49,True,True,True,True,False,False,False,False,False
211,212,58.00,60.00,72.00,74.0,53.62,True,True,True,False,True,False,True,False,False
212,213,67.00,67.00,73.00,59.0,69.72,True,True,True,True,False,False,False,True,False
213,214,74.00,66.00,58.00,70.0,60.23,False,True,True,True,False,False,False,False,True

In [14]:
y=df['salary']
y

0      270000.0
1      200000.0
2      250000.0
4      425000.0
7      252000.0
         ...
209    216000.0
210    400000.0
211    275000.0
212    295000.0
213    204000.0
Name: salary, Length: 148, dtype: float64

In [15]:
string_cols = df.select_dtypes(include='object').columns
string_cols
df = pd.get_dummies(df, columns=string_cols, drop_first=True)
df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
0,1,67.00,91.00,58.00,55.0,58.80,270000.0,True,True,True,True,False,False,True,False,True
1,2,79.33,78.33,77.48,86.5,66.28,200000.0,True,False,True,False,True,False,True,True,False
2,3,65.00,68.00,64.00,75.0,57.80,250000.0,True,False,False,False,False,False,False,False,False
4,5,85.80,73.60,73.30,96.8,55.50,425000.0,True,False,False,True,False,False,False,False,False
7,8,82.00,64.00,66.00,67.0,62.14,252000.0,True,False,False,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,62.00,72.00,65.00,67.0,56.49,216000.0,True,False,False,True,False,False,False,False,False
210,211,80.60,82.00,77.60,91.0,74.49,400000.0,True,True,True,True,False,False,False,False,False
211,212,58.00,60.00,72.00,74.0,53.62,275000.0,True,True,True,False,True,False,True,False,False
212,213,67.00,67.00,73.00,59.0,69.72,295000.0,True,True,True,True,False,False,False,True,False
213,214,74.00,66.00,58.00,70.0,60.23,204000.0,False,True,True,True,False,False,False,False,True

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=42)
x_train

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
131,132,74.9,57.00,62.00,80.000000,60.78,False,True,True,False,True,True,False,True,False
205,206,61.0,62.00,65.00,72.110892,56.81,True,True,True,True,False,False,False,False,False
150,151,71.0,58.66,58.00,56.000000,61.30,True,False,False,False,True,False,True,True,False
0,1,67.0,91.00,58.00,55.000000,58.80,True,True,True,True,False,False,True,False,True
107,108,82.0,90.00,83.00,80.000000,73.52,True,True,True,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,104,73.0,78.00,73.00,85.000000,65.83,True,False,False,False,True,False,True,True,True
147,148,70.0,74.00,65.00,83.000000,62.28,True,False,False,True,False,False,False,False,False
22,23,69.8,60.80,72.23,55.530000,68.81,False,True,True,False,True,False,True,False,True
129,130,76.7,89.70,66.00,90.000000,68.55,True,False,True,True,False,False,False,True,False
142,143,85.0,60.00,73.43,60.000000,61.29,True,False,True,False,True,False,True,True,False

In [17]:
x_test

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_M,ssc_b_Others,hsc_b_Others,hsc_s_Commerce,hsc_s_Science,degree_t_Others,degree_t_Sci&Tech,workex_Yes,specialisation_Mkt&HR
178,179,68.00,56.00,68.000000,73.000000,68.07,True,True,True,False,True,False,True,False,True
74,75,56.60,64.80,70.200000,84.270000,67.20,True,False,False,True,False,False,False,False,False
203,204,55.68,61.33,56.870000,66.000000,58.30,True,True,True,True,False,False,False,False,True
28,29,76.76,76.50,67.500000,73.350000,64.15,True,True,True,True,False,False,False,True,False
145,146,89.40,65.66,71.250000,72.000000,63.23,True,True,True,False,True,False,True,False,True
20,21,62.00,65.00,66.000000,50.000000,56.70,True,True,True,True,False,False,False,False,True
112,113,58.00,61.00,61.000000,58.000000,53.94,True,True,True,True,False,False,False,False,True
48,49,63.00,62.00,68.000000,64.000000,62.46,True,True,True,True,False,False,False,False,False
117,118,77.00,75.00,73.000000,80.000000,67.05,True,True,True,False,True,False,True,False,False
15,16,65.00,75.00,69.000000,72.000000,64.66,False,False,False,True,False,False,False,True,False
39,40,81.00,68.00,64.000000,93.000000,62.56,True,True,True,False,True,False,True,False,False
134,135,77.44,92.00,72.000000,94.000000,67.13,False,False,True,True,False,False,False,True,False
210,211,80.60,82.00,77.600000,91.000000,74.49,True,True,True,True,False,False,False,False,False
96,97,76.00,70.00,76.000000,66.000000,64.44,False,False,False,False,True,False,False,True,False
197,198,83.96,53.00,66.269663,59.320000,69.71,False,True,True,True,False,False,False,False,True
95,96,73.00,78.00,65.000000,95.460000,62.16,True,False,True,True,False,False,False,True,False
27,28,63.00,67.00,66.000000,68.000000,57.69,True,True,True,True,False,False,False,False,True
101,102,63.00,72.00,68.000000,78.000000,60.44,True,False,False,True,False,False,False,False,True
177,178,73.00,97.00,79.000000,89.000000,70.81,False,False,True,True,False,False,False,True,False
47,48,63.00,60.00,57.000000,78.000000,54.55,True,False,False,True,False,False,False,True,False
44,45,77.00,73.00,81.000000,89.000000,69.70,False,True,True,True,False,False,False,True,False
146,147,62.00,63.00,66.000000,85.000000,55.14,True,False,True,False,True,False,False,False,True
56,57,63.00,71.40,61.400000,68.000000,66.88,True,True,True,True,False,False,False,False,False
164,165,67.16,72.50,63.350000,53.040000,65.52,False,False,False,True,False,False,False,False,False
80,81,69.00,62.00,69.000000,67.000000,62.35,False,True,True,True,False,False,False,True,True
33,34,87.00,65.00,81.000000,88.000000,72.78,False,True,True,False,True,False,False,True,False
92,93,60.23,69.00,66.000000,72.000000,59.47,False,False,False,False,True,False,False,False,False
192,193,65.20,61.40,64.800000,93.400000,57.34,True,False,False,True,False,False,False,True,False
118,119,76.00,80.00,78.000000,97.000000,70.48,True,False,False,False,True,False,True,True,True
19,20,60.00,67.00,70.000000,50.480000,77.89,True,True,True,False,False,False,False,True,False
199,200,69.00,65.00,66.269663,73.000000,55.80,True,True,True,True,False,False,False,False,True
67,68,80.92,78.50,67.000000,68.710000,60.99,True,True,True,True,False,False,False,False,False
166,167,62.00,62.00,60.000000,63.000000,52.38,True,True,True,True,False,False,False,True,True
40,41,78.00,77.00,80.000000,60.000000,66.72,False,False,True,True,False,False,False,False,False
7,8,82.00,64.00,66.000000,67.000000,62.14,True,False,False,False,True,False,True,True,False
183,184,65.00,77.00,69.000000,60.000000,61.82,True,False,False,True,False,False,False,False,True
196,197,72.00,63.00,66.269663,78.000000,54.48,True,True,True,True,False,False,False,False,False
212,213,67.00,67.00,73.000000,59.000000,69.72,True,True,True,True,False,False,False,True,False
62,63,86.50,64.20,67.400000,59.000000,59.69,False,True,True,False,True,False,True,False,False
24,25,76.50,97.70,78.860000,97.400000,74.01,True,True,True,False,True,False,True,False,False
16,17,63.00,66.20,65.600000,60.000000,62.54,True,False,False,True,False,False,False,True,False
160,161,87.00,74.00,65.000000,75.000000,72.29,True,False,False,False,True,False,True,True,True
122,123,66.50,66.80,69.300000,80.400000,71.00,False,False,False,False,False,False,False,True,False
204,205,74.00,73.00,73.000000,72.110892,67.69,False,True,True,True,False,False,False,True,False
81,82,81.70,63.00,67.000000,86.000000,70.20,True,True,True,False,True,False,False,True,False

In [18]:
y_train

131    360000.0
205    250000.0
150    690000.0
0      270000.0
107    200000.0
         ...
103    240000.0
147    300000.0
22     360000.0
129    250000.0
142    260000.0
Name: salary, Length: 103, dtype: float64

In [19]:
y_test

178    350000.0
74     336000.0
203    260000.0
28     350000.0
145    400000.0
20     265000.0
112    250000.0
48     250000.0
117    240000.0
15     200000.0
39     411000.0
134    250000.0
210    400000.0
96     300000.0
197    260000.0
95     420000.0
27     265000.0
101    380000.0
177    650000.0
47     204000.0
44     200000.0
146    233000.0
56     240000.0
164    250000.0
80     240000.0
33     260000.0
92     230000.0
192    270000.0
118    276000.0
19     236000.0
199    265000.0
67     275000.0
166    240000.0
40     287000.0
7      252000.0
183    276000.0
196    250000.0
212    295000.0
62     240000.0
24     360000.0
16     300000.0
160    300000.0
122    236000.0
204    210000.0
81     300000.0
Name: salary, dtype: float64

In [20]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model

LinearRegression()

In [21]:
model.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred=model.predict(x_test)
y_pred

array([339923.09824578, 362244.38192126, 312851.48212269, 335068.12167823,
       270052.52130073, 283315.80452538, 285312.70975992, 331774.77001424,
       315888.21710146, 323385.70604661, 342987.32954722, 238399.88508124,
       296993.57932871, 262972.69089976, 279965.19557444, 301341.37353722,
       288795.76954756, 289096.59198789, 224571.55887257, 366453.46604872,
       289918.06435729, 223266.50936884, 363971.7671463 , 296790.93489416,
       282428.37952192, 289843.19811456, 270998.66952917, 333310.86451344,
       323657.16196918, 361357.36008407, 250104.42922355, 282614.80797381,
       291533.40346556, 208816.34275751, 365971.03919403, 266401.11311342,
       267461.04091516, 338274.83247355, 267335.36756879, 320718.38170655,
       368993.71642444, 358451.38587824, 287970.34134496, 282015.18504207,
       359936.73457955])

In [23]:
pd.DataFrame({'y_test':y_test,'y_pred':y_pred,'MAE':y_test-y_pred})

       y_test         y_pred            MAE
178  350000.0  339923.098246   10076.901754
74   336000.0  362244.381921  -26244.381921
203  260000.0  312851.482123  -52851.482123
28   350000.0  335068.121678   14931.878322
145  400000.0  270052.521301  129947.478699
20   265000.0  283315.804525  -18315.804525
112  250000.0  285312.709760  -35312.709760
48   250000.0  331774.770014  -81774.770014
117  240000.0  315888.217101  -75888.217101
15   200000.0  323385.706047 -123385.706047
39   411000.0  342987.329547   68012.670453
134  250000.0  238399.885081   11600.114919
210  400000.0  296993.579329  103006.420671
96   300000.0  262972.690900   37027.309100
197  260000.0  279965.195574  -19965.195574
95   420000.0  301341.373537  118658.626463
27   265000.0  288795.769548  -23795.769548
101  380000.0  289096.591988   90903.408012
177  650000.0  224571.558873  425428.441127
47   204000.0  366453.466049 -162453.466049
44   200000.0  289918.064357  -89918.064357
146  233000.0  223266.509369    9733.490631
56   240000.0  363971.767146 -123971.767146
164  250000.0  296790.934894  -46790.934894
80   240000.0  282428.379522  -42428.379522
33   260000.0  289843.198115  -29843.198115
92   230000.0  270998.669529  -40998.669529
192  270000.0  333310.864513  -63310.864513
118  276000.0  323657.161969  -47657.161969
19   236000.0  361357.360084 -125357.360084
199  265000.0  250104.429224   14895.570776
67   275000.0  282614.807974   -7614.807974
166  240000.0  291533.403466  -51533.403466
40   287000.0  208816.342758   78183.657242
7    252000.0  365971.039194 -113971.039194
183  276000.0  266401.113113    9598.886887
196  250000.0  267461.040915  -17461.040915
212  295000.0  338274.832474  -43274.832474
62   240000.0  267335.367569  -27335.367569
24   360000.0  320718.381707   39281.618293
16   300000.0  368993.716424  -68993.716424
160  300000.0  358451.385878  -58451.385878
122  236000.0  287970.341345  -51970.341345
204  210000.0  282015.185042  -72015.185042
81   300000.0  359936.734580  -59936.734580

In [24]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,root_mean_squared_error,r2_score
# --- METRICS ---
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
MAE = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("MAE:", MAE)
print("R² Score:", r2)

MSE: 8794080994.65815
RMSE: 93776.7614852323
MAE: 65869.07180007393
R² Score: -0.42282718721018986

In [25]:
x_test.columns

Index(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'gender_M',
       'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce', 'hsc_s_Science',
       'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR'],
      dtype='object')

In [26]:
model.predict([[301,67,78,67,87,78,True,False,True,False,False,True,True,True,False]])

C:\Users\amnas\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([344561.45385091])

In [27]:
# Coefficients and intercept
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Coefficients: [  -145.4229964   -1219.9771645   -1323.84750126  -3364.11531757
    296.96522792   5070.93339536  34539.59048758  31469.78229554
 -38964.65549427  62515.6788966   47128.64169863  24526.66445308
  32617.91751249  23339.00630995 -23141.38513566]
Intercept: 301300.7742279633

In [28]:
x = np.array([301,67,78,67,87,78,1,0,1,0,0,1,1,1,0])

manual_prediction = np.dot( model.coef_, x) +  model.intercept_
manual_prediction

np.float64(344561.45385090663)

In [29]:
model.predict([x])

C:\Users\amnas\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([344561.45385091])